# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment variables
.env

# Testing
.tox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.cache

# Type checking
.mypy_cache/
.dmypy.json

# Linting
.ruff_cache/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
